.hero-container {
  background: url('../images/bachelor-hero.jpeg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  justify-content: center;
}

.hero-container > h1 {
  color: #fff;
  font-size: 60px;
  margin-top: -300px;
}

.hero-container > p {
  margin-top: 10px;
  font-size: 32px;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 50px;
}

.hero-btns .btn {
  margin: 10px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 40px;
  }

  .hero-container > p {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 30px;
  }

  .hero-container > p {
    font-size: 17px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
